In [216]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [217]:
customer = pd.read_csv("C:/Users/user/Documents/GitHub/최종프로젝트/Customer_info.csv")
discount = pd.read_csv("C:/Users/user/Documents/GitHub/최종프로젝트/Discount_info.csv")
marketing = pd.read_csv("C:/Users/user/Documents/GitHub/최종프로젝트/Marketing_info.csv")
onlinesales = pd.read_csv("C:/Users/user/Documents/GitHub/최종프로젝트/Onlinesales_info.csv")

In [218]:
customer.head()

        고객ID 성별        고객지역  가입기간
0  USER_1358  남     Chicago    12
1  USER_0190  남  California    43
2  USER_0066  남     Chicago    33
3  USER_0345  여  California    30
4  USER_0683  남  California    49

In [219]:
customer.describe()

              가입기간
count  1468.000000
mean     25.912125
std      13.959667
min       2.000000
25%      14.000000
50%      26.000000
75%      38.000000
max      50.000000

In [220]:
customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1468 entries, 0 to 1467
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   고객ID    1468 non-null   object
 1   성별      1468 non-null   object
 2   고객지역    1468 non-null   object
 3   가입기간    1468 non-null   int64
dtypes: int64(1), object(3)
memory usage: 46.0+ KB

In [221]:
len(customer) - customer.count()

고객ID    0
성별      0
고객지역    0
가입기간    0
dtype: int64

In [222]:
#결측치
print(len(customer))
len(customer) - customer.count()

1468

고객ID    0
성별      0
고객지역    0
가입기간    0
dtype: int64

In [223]:
#중복값
customer.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
1463    False
1464    False
1465    False
1466    False
1467    False
Length: 1468, dtype: bool

In [224]:
discount.head(12)

      월     제품카테고리     쿠폰코드  할인율
0   Jan    Apparel   SALE10   10
1   Feb    Apparel   SALE20   20
2   Mar    Apparel   SALE30   30
3   Jan   Nest-USA   ELEC10   10
4   Feb   Nest-USA   ELEC20   20
5   Mar   Nest-USA   ELEC30   30
6   Jan     Office    OFF10   10
7   Feb     Office    OFF20   20
8   Mar     Office    OFF30   30
9   Jan  Drinkware  EXTRA10   10
10  Feb  Drinkware  EXTRA20   20
11  Mar  Drinkware  EXTRA30   30

In [225]:
discount.describe()

              할인율
count  204.000000
mean    20.000000
std      8.185052
min     10.000000
25%     10.000000
50%     20.000000
75%     30.000000
max     30.000000

In [226]:
discount.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   월       204 non-null    object
 1   제품카테고리  204 non-null    object
 2   쿠폰코드    204 non-null    object
 3   할인율     204 non-null    int64
dtypes: int64(1), object(3)
memory usage: 6.5+ KB

In [227]:
len(discount) - discount.count()

월         0
제품카테고리    0
쿠폰코드      0
할인율       0
dtype: int64

In [228]:
#결측치
print(len(discount))
len(discount) - discount.count()

204

월         0
제품카테고리    0
쿠폰코드      0
할인율       0
dtype: int64

In [229]:
#중복값
discount.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
199    False
200    False
201    False
202    False
203    False
Length: 204, dtype: bool

In [230]:
marketing.head()

           날짜  오프라인비용    온라인비용
0  2019-01-01    4500  2424.50
1  2019-01-02    4500  3480.36
2  2019-01-03    4500  1576.38
3  2019-01-04    4500  2928.55
4  2019-01-05    4500  4055.30

In [231]:
marketing.describe()

            오프라인비용        온라인비용
count   365.000000   365.000000
mean   2843.561644  1905.880740
std     952.292448   808.856853
min     500.000000   320.250000
25%    2500.000000  1258.600000
50%    3000.000000  1881.940000
75%    3500.000000  2435.120000
max    5000.000000  4556.930000

In [232]:
marketing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      365 non-null    object
 1   오프라인비용  365 non-null    int64
 2   온라인비용   365 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 8.7+ KB

In [233]:
#결측치
print(len(marketing))
len(marketing) - marketing.count()

365

날짜        0
오프라인비용    0
온라인비용     0
dtype: int64

In [234]:
#중복값
marketing.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
360    False
361    False
362    False
363    False
364    False
Length: 365, dtype: bool

In [235]:
onlinesales.head()

,고객ID,거래ID,거래날짜,제품ID,제품카테고리,수량,평균금액,배송료,쿠폰상태
0,USER_1358,Transaction_0000,2019-01-01,Product_0981,Nest-USA,1,153.71,6.5,Used
1,USER_1358,Transaction_0001,2019-01-01,Product_0981,Nest-USA,1,153.71,6.5,Used
2,USER_1358,Transaction_0002,2019-01-01,Product_0904,Office,1,2.05,6.5,Used
3,USER_1358,Transaction_0003,2019-01-01,Product_0203,Apparel,5,17.53,6.5,Not Used
4,USER_1358,Transaction_0003,2019-01-01,Product_0848,Bags,1,16.50,6.5,Used

In [236]:
onlinesales.describe()

                 수량          평균금액           배송료
count  52924.000000  52924.000000  52924.000000
mean       4.497638     52.237646     10.517630
std       20.104711     64.006882     19.475613
min        1.000000      0.390000      0.000000
25%        1.000000      5.700000      6.000000
50%        1.000000     16.990000      6.000000
75%        2.000000    102.130000      6.500000
max      900.000000    355.740000    521.360000

In [237]:
onlinesales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52924 entries, 0 to 52923
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   고객ID    52924 non-null  object
 1   거래ID    52924 non-null  object
 2   거래날짜    52924 non-null  object
 3   제품ID    52924 non-null  object
 4   제품카테고리  52924 non-null  object
 5   수량      52924 non-null  int64
 6   평균금액    52924 non-null  float64
 7   배송료     52924 non-null  float64
 8   쿠폰상태    52924 non-null  object
dtypes: float64(2), int64(1), object(6)
memory usage: 3.6+ MB

In [238]:
#결측치
print(len(onlinesales))
len(onlinesales) - onlinesales.count()

52924

고객ID      0
거래ID      0
거래날짜      0
제품ID      0
제품카테고리    0
수량        0
평균금액      0
배송료       0
쿠폰상태      0
dtype: int64

In [239]:
#중복값
onlinesales.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
52919    False
52920    False
52921    False
52922    False
52923    False
Length: 52924, dtype: bool

In [240]:
#문자열로 된 날짜를 TIMESTAMP형식으로 변환
onlinesales['거래날짜'] = pd.to_datetime(onlinesales['거래날짜'])

#거래날짜에서 연도와 월정보 가져오기
set_of_year_month = list(set([(x.year, x.month) for x in onlinesales['거래날짜']]))
#연도와 월정보를 연도, 월 순으로 출력
for ym in sorted(set_of_year_month, key=lambda x: (x[0], x[1])):
    print(f'{ym[0]}년 {ym[1]}월')

2019년 1월
2019년 2월
2019년 3월
2019년 4월
2019년 5월
2019년 6월
2019년 7월
2019년 8월
2019년 9월
2019년 10월
2019년 11월
2019년 12월

R = onlinesales[['고객ID', '거래날짜']].drop_duplicates()
recency = recency.rename(columns={'거래날짜':'최근구매'})

In [241]:
#고객별로 가장 최근에 구매한 날짜가 언제인지
recency = onlinesales.groupby('고객ID')['거래날짜'].max().reset_index()
onlinesales.rename(columns={'거래날짜' : '최근구매'},inplace = True)
print(recency)

           고객ID       거래날짜
0     USER_0000 2019-09-15
1     USER_0001 2019-11-02
2     USER_0002 2019-10-19
3     USER_0003 2019-12-14
4     USER_0004 2019-09-15
...         ...        ...
1463  USER_1463 2019-04-05
1464  USER_1464 2019-10-05
1465  USER_1465 2019-06-20
1466  USER_1466 2019-10-23
1467  USER_1467 2019-10-10

[1468 rows x 2 columns]

RFM = onlinesales[['고객ID', '거래날짜','평균금액','수량']].drop_duplicates()
recency = RFM.groupby('고객ID')['거래날짜'].max().reset_index()
recency = recency.rename(columns={'거래날짜':'최근구매'})
frequency = RFM.groupby('고객ID')['거래날짜'].count().reset_index()
onlinesales['빈도수'] = frequency
onlinesales['총구매액'] = onlinesales['평균금액'] * onlinesales['수량']
monetary = onlinesales.groupby('고객ID')['총구매액'].sum().reset_index()
print()

In [244]:
max_date = onlinesales['최근구매'].max()
onlinesales['diff_date'] = (max_date - onlinesales['최근구매']).dt.days
print(onlinesales)

            고객ID               거래ID       최근구매          제품ID    제품카테고리  수량  \
0      USER_1358   Transaction_0000 2019-01-01  Product_0981  Nest-USA   1
1      USER_1358   Transaction_0001 2019-01-01  Product_0981  Nest-USA   1
2      USER_1358   Transaction_0002 2019-01-01  Product_0904    Office   1
3      USER_1358   Transaction_0003 2019-01-01  Product_0203   Apparel   5
4      USER_1358   Transaction_0003 2019-01-01  Product_0848      Bags   1
...          ...                ...        ...           ...       ...  ..
52919  USER_0504  Transaction_25056 2019-12-31  Product_0976  Nest-USA   1
52920  USER_0504  Transaction_25057 2019-12-31  Product_0413   Apparel   1
52921  USER_0504  Transaction_25058 2019-12-31  Product_0989  Nest-USA   1
52922  USER_0562  Transaction_25059 2019-12-31  Product_0985  Nest-USA   5
52923  USER_0562  Transaction_25060 2019-12-31  Product_0984  Nest-USA   4

         평균금액    배송료      쿠폰상태  diff_date
0      153.71   6.50      Used        364
1      153.71   6.50      Used        364
2        2.05   6.50      Used        364
3       17.53   6.50  Not Used        364
4       16.50   6.50      Used        364
...       ...    ...       ...        ...
52919  121.30   6.50   Clicked          0
52920   48.92   6.50      Used          0
52921  151.88   6.50      Used          0
52922   80.52   6.50   Clicked          0
52923   80.52  19.99   Clicked          0

[52924 rows x 10 columns]

In [ ]:
#고객별로 방문횟수
F = onlinesales[['고객ID', '거래날짜']].drop_duplicates()
onlinesales = F.groupby('고객ID')['거래날짜'].count().reset_index()

print(onlinesales)

           고객ID  거래날짜
0     USER_0000     1
1     USER_0001     3
2     USER_0002     2
3     USER_0003     1
4     USER_0004     1
...         ...   ...
1463  USER_1463     1
1464  USER_1464     3
1465  USER_1465     2
1466  USER_1466     1
1467  USER_1467     2

[1468 rows x 2 columns]

In [ ]:
onlinesales['평균금액'].dtype
onlinesales['수량'].dtype

KeyError: '평균금액'

In [ ]:
#고객별 구매금액
M = onlinesales[['고객ID', '평균금액', '수량']].drop_duplicates()
onlinesales['총구매액'] = onlinesales['평균금액'] * onlinesales['수량']
monetary = onlinesales.groupby('고객ID')['총구매액'].sum().reset_index()
print(monetary)

           고객ID      총구매액
0     USER_0000     30.99
1     USER_0001  13834.90
2     USER_0002   1442.12
3     USER_0003   1360.07
4     USER_0004   1442.47
...         ...       ...
1463  USER_1463    544.34
1464  USER_1464   2363.05
1465  USER_1465    101.56
1466  USER_1466    298.00
1467  USER_1467   6362.77

[1468 rows x 2 columns]

In [ ]:
#onlinesales['총구매액'].dtype

In [ ]:
#onlinesales['총구매액'] = onlinesales['총구매액'].astype(float)

In [ ]:
#R_최근구매 일수로 점수 할당하기_qcut_상대성
pd.qcut(onlinesales['diff_date'], q=5)

0        (283.0, 364.0]
1        (283.0, 364.0]
2        (283.0, 364.0]
3        (283.0, 364.0]
4        (283.0, 364.0]
              ...
52919    (-0.001, 77.0]
52920    (-0.001, 77.0]
52921    (-0.001, 77.0]
52922    (-0.001, 77.0]
52923    (-0.001, 77.0]
Name: diff_date, Length: 52924, dtype: category
Categories (5, interval[float64, right]): [(-0.001, 77.0] < (77.0, 144.0] < (144.0, 207.0] < (207.0, 283.0] < (283.0, 364.0]]

In [ ]:
pd.qcut(onlinesales['diff_date'], q=5).value_counts

<bound method IndexOpsMixin.value_counts of 0        (283.0, 364.0]
1        (283.0, 364.0]
2        (283.0, 364.0]
3        (283.0, 364.0]
4        (283.0, 364.0]
              ...
52919    (-0.001, 77.0]
52920    (-0.001, 77.0]
52921    (-0.001, 77.0]
52922    (-0.001, 77.0]
52923    (-0.001, 77.0]
Name: diff_date, Length: 52924, dtype: category
Categories (5, interval[float64, right]): [(-0.001, 77.0] < (77.0, 144.0] < (144.0, 207.0] < (207.0, 283.0] < (283.0, 364.0]]>

In [ ]:
onlinesales['diff_date'].describe()

count    52924.000000
mean       178.197113
std        101.728360
min          0.000000
25%         95.000000
50%        171.000000
75%        263.000000
max        364.000000
Name: diff_date, dtype: float64